{% extends 'index.html' %}

{% block MainContent %}
<section class="main-content">
    <div class="row">
        <div style="text-align: center;">
            <h3>{{msg}}</h3>
            <h4 class="title"><span class="text"><strong>Login</strong> Form</span></h4>

                <!-- Type 1 -->
            <!-- <form method="POST">
                {% csrf_token %}
                {{form}}<br>
                <input type="submit" />
            </form> -->

                <!-- Type 2 -->
            <!-- <form method="POST" novalidate>
                {% csrf_token %}
                <table align="center">
                    {{form.as_table}}
                </table>
                <input type="submit" />
            </form> -->

            <!-- Type 3 -->
            <!-- <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" />
            </form> -->

            <!-- Type 4 -->
            <!-- <form method="POST" novalidate>
                {% csrf_token %}
                {{form.as_ul}}
                <input type="submit" />
            </form> -->


            <form action="#" method="post" class="form-stacked">
                {% csrf_token %}
                <fieldset>
                    
                    <div class="control-group">
                        <label class="control-label">Email address:</label>
                        <div class="controls">
                            <input type="text" 
                            name="email"
                            placeholder="Enter your email" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Password:</label>
                        <div class="controls">
                            <input type="password" placeholder="Enter your password" 
                            name="password"
                            class="input-xlarge">
                        </div>
                    </div>
                    

                    <hr>
                    
                    <div class="actions">
                        <input tabindex="9" class="btn btn-inverse large" type="submit"
                            value="LogIn">
                        <a href="{{curl}}email/"><button class="btn btn-inverse" type="button" id="checkout">Forgot Password?</button></a> 
                        </div>

                                  
                </fieldset>
            </form>
        </div>
    </div>
</section>
{% endblock MainContent %}