{% extends 'index.html' %}

{% block Header %}
<div id="top-bar" class="container">
    <div class="row">
        <div class="span4">
            <span style="font-size: 22px;font-weight: bold;">
                Welcome Admin
            </span>
        </div>
        <div class="span8">
            <div class="account pull-right">
                <ul class="user-menu">
                    <li><a href="{{curl}}ecommerseadmin/home/">Admin Home</a></li>
                    <li><a href="{{curl}}ecommerseadmin/managecustomer/">Manage Customers</a></li>
                    <li><a href="{{curl}}ecommerseadmin/addproduct/">Add Products</a></li>
                    <li><a href="{{curl}}ecommerseadmin/addproductimage/">Add Product Image</a></li>
                    <li><a href="{{curl}}ecommerseadmin/changepassword/">ChangePassword</a></li>
                    <li><a href="{{curl}}ecommerseadmin/editprofile/">EditProfile</a></li>
                    <li><a href="{{curl}}login/">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock Header %}

{% block Category %}

{% endblock Category %}

{% block Banner %}
{% endblock Banner %}

{% block MainContent %}
<section class="main-content">
    <div class="row">
        <div style="text-align: center;">
            <h3>{{msg}}</h3>
            <h4 class="title"><span class="text"><strong>change</strong> password</span></h4>
            <form action="#" method="post" class="form-stacked">
                {% csrf_token %}
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">Email:</label>
                        <div class="controls">
                            <input type="text" placeholder="Enter your email" required 
                            name="email"
                            class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">old password:</label>
                        <div class="controls">
                            <input type="text" 
                            name="oldpassword"
                            placeholder="Enter your old password" class="input-xlarge" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">new password:</label>
                        <div class="controls">
                            <input type="text" 
                            name="newpassword"
                            placeholder="Enter your new password" class="input-xlarge" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"> conform password:</label>
                        <div class="controls">
                            <input type="text" 
                            name="conformpassword"
                            placeholder="Enter your conform password" class="input-xlarge" required>
                        </div>
                    </div>
                   
                    <a href="{{curl}}ecommerseadmin/home/">
                        <button class="btn btn-inverse" type="submit">change password</button>
                    </a>

                    <hr>
                    
                </fieldset>
            </form>
        </div>
    </div>
</section>
{% endblock MainContent %}

{% block Client %}
{% endblock Client %}

{% block Footer %}
{% endblock Footer %}