{% extends 'index.html' %}

{% block Header %}
<div id="top-bar" class="container">
    <div class="row">
        <div class="span4">
            <span style="font-size: 22px;font-weight: bold;">
                Welcome Customer
            </span>
        </div>
        <div class="span8">
            <div class="account pull-right">
                <ul class="user-menu">
                    <li><a href="{{curl}}customer/home/">My Account</a></li>
                    <li><a href="{{curl}}customer/cart/">Cart</a></li>
                    <li><a href="{{curl}}customer/changepassword/">ChangePassword</a></li>
                    <li><a href="{{curl}}customer/editprofile/">EditProfile</a></li>
                    <li><a href="{{curl}}customer/logout/">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock Header %}

{% block Banner %}
{% endblock Banner %}

{% block Category %}	
{% endblock Category %}

{% block MainContent %}
<div class="row-fluid">
    <div class="span6">
        <h4>Personal Details</h4>
        <div class="control-group">
            <label class="control-label">First Name</label>
            <div class="controls">
                <input type="text" 
                placeholder="" class="input-xlarge"
                value="{{firstname}}"
                disabled
                >
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Last Name</label>
            <div class="controls">
                <input type="text" placeholder="" class="input-xlarge"
                value="{{lastname}}"
                disabled
                >
            </div>
        </div>					  
        <div class="control-group">
            <label class="control-label">Email Address</label>
            <div class="controls">
                <input type="text" placeholder="" class="input-xlarge"
                value="{{customer.email}}"
                disabled
                >
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Mobile</label>
            <div class="controls">
                <input type="text" placeholder="" class="input-xlarge"
                value="{{customer.mobile}}"
                disabled
                >
            </div>
        </div>
    </div>
    <div class="span6">
        <h4>Address</h4>
        <!-- <div class="control-group">
            <label class="control-label">Company</label>
            <div class="controls">
                <input type="text" placeholder="" class="input-xlarge">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Company ID:</label>
            <div class="controls">
                <input type="text" placeholder="" class="input-xlarge">
            </div>
        </div>					   -->
        <div class="control-group">
            <label class="control-label"><span class="required">*</span> Address:</label>
            <div class="controls">
                <input type="text" placeholder="" class="input-xlarge"
                value="{{customer.address}}"
                disabled
                >
            </div>
        </div>
        <!-- <div class="control-group">
            <label class="control-label">Address 2:</label>
            <div class="controls">
                <input type="text" placeholder="" class="input-xlarge">
            </div>
        </div> -->
        <div class="control-group">
            <label class="control-label"><span class="required">*</span> City:</label>
            <div class="controls">
                <input type="text" placeholder="" class="input-xlarge"
                value="{{customer.city}}"
                disabled
                >
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"><span class="required">*</span> Post Code:</label>
            <div class="controls">
                <input type="text" placeholder="" class="input-xlarge"
                value="{{customer.pincode}}"
                disabled
                >
            </div>
        </div>
        <div class="control-group">
            <a href="{{curl}}customer/payment?price={{total_price}}"><button class="btn btn-inverse" type="button" id="checkout">Place Order</button></a>
            <!-- <a class="btn btn-sm btn-success rounded py-2 px-4" href="{{curl}}/customer/payment?price={{dic.price}}">Pay</a> -->
        </div>
        
        <!-- <div class="control-group">
            <label class="control-label"><span class="required">*</span> Country:</label>
            <div class="controls">
                <select class="input-xlarge">
                    <option value="1">Afghanistan</option>
                    <option value="2">Albania</option>
                    <option value="3">Algeria</option>
                    <option value="4">American Samoa</option>
                    <option value="5">Andorra</option>
                    <option value="6">Angola</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"><span class="required">*</span> Region / State:</label>
            <div class="controls">
                <select name="zone_id" class="input-xlarge">
                    <option value=""> --- Please Select --- </option>
                    <option value="3513">Aberdeen</option>
                    <option value="3514">Aberdeenshire</option>
                    <option value="3515">Anglesey</option>
                    <option value="3516">Angus</option>
                    <option value="3517">Argyll and Bute</option>
                </select>
            </div>
        </div> -->
    </div>
</div>
{% endblock MainContent %}

{% block Client %}
{% endblock Client %}

{% block Footer %}
{% endblock Footer %}



