{% extends 'index.html' %}

{% block Header %}
<div id="top-bar" class="container">
    <div class="row">
        <div class="span4">
            <span style="font-size: 22px;font-weight: bold;">
                Welcome Customer
            </span>
        </div>
        <div class="span8">
            <div class="account pull-right">
                <ul class="user-menu">
                    <li><a href="{{curl}}customer/home/">My Account</a></li>
                    <li><a href="{{curl}}customer/cart/">Cart</a></li>
                    <li><a href="{{curl}}customer/changepassword/">ChangePassword</a></li>
                    <li><a href="{{curl}}customer/editprofile/">EditProfile</a></li>
                    <li><a href="{{curl}}customer/logout/">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock Header %}

{% block Banner %}
{% endblock Banner %}

{% block Category %}	
{% endblock Category %}

{% block MainContent %}
<section class="main-content">
    <div class="row">
        <div style="text-align: center;">
            <h3>{{msg}}</h3>
            <h4 class="title"><span class="text"><strong>Change</strong> Password</span></h4>
            <form action="#" method="post" class="form-stacked">
                {% csrf_token %}
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">Old Password</label>
                        <div class="controls">
                            <input type="password" placeholder="Enter your name" 
                            name="oldpassword"
                            class="input-xlarge"
                            required
                            >
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">New Password:</label>
                        <div class="controls">
                            <input type="password" 
                            name="newpassword"
                            placeholder="Enter your email" class="input-xlarge"
                            required
                            >
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Confirm Password:</label>
                        <div class="controls">
                            <input type="password" placeholder="Enter your password" 
                            name="confirmpassword"
                            class="input-xlarge"
                            required
                            >
                        </div>
                    </div>
                    <hr>
                    <div class="actions"><input tabindex="9" class="btn btn-inverse large" type="submit"
                            value="Change Password"></div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
{% endblock MainContent %}

{% block Client %}
{% endblock Client %}

{% block Footer %}
{% endblock Footer %}



